body {
    padding-top: 20px !important; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

.borderall {
    border: 0px solid black;
}

.dealCards {
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222);
}

.Cards {
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222);
}

img:hover {  border:2px solid #222;  box-shadow: 0 0 13px #333;  -webkit-box-shadow: 0 0 13px #333;  -moz-box-shadow: 0 0 13px #333;  -o-box-shadow: 0 0 13px #333;  -ms-box-shadow: 0 0 13px #333;}
