
@{
    Layout = "~/Views/Shared/Master/Master.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-xs-3">
        </div>
        <div class="col-lg-4 borderall col-xs-6" style="height:80px;">
            Hello
        </div>
        <div class="col-lg-4 col-xs-3">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-xs-3">
        </div>
        <div class="col-lg-4 col-xs-6" style="height:121px;">
            <img src="/Content/DeckImages/10_of_clubs.png" style="height:121px;" height="121" class="dealCards img-responsive center-block" />
        </div>
        <div class="col-lg-4 col-xs-3">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-xs-3 borderall" style="height:121px;">
            Hello
        </div>
        <div class="col-lg-2 col-xs-3">
            <img src="/Content/DeckImages/10_of_clubs.png" style="height:121px;" height="121" class="dealCards img-responsive center-block" />
        </div>
        <div class="col-lg-2 col-xs-3">
            <img src="/Content/DeckImages/10_of_clubs.png" style="height:121px;" height="121" class="dealCards img-responsive center-block" />
        </div>
        <div class="col-lg-4 col-xs-3 borderall" style="height:121px;">
            hello
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-xs-3">
        </div>
        <div class="col-lg-4 col-xs-6" style="height:121px;">
            <img src="/Content/DeckImages/10_of_clubs.png" style="height:121px;" height="121" class="dealCards img-responsive center-block" />
        </div>
        <div class="col-lg-4 col-xs-3">
        </div>
    </div>
    <div class="row borderall" style="height:121px; margin-top:20px;">
        <div class="col-lg-12">
            <img class="Cards" src="/Content/DeckImages/2_of_clubs.png" style="height:121px;" height="121"/>
            <img class="Cards" src="/Content/DeckImages/3_of_clubs.png" style="height:121px; position:relative; left:-60px;" height="121"/>
            <img class="Cards" src="/Content/DeckImages/4_of_clubs.png" style="height:121px;position:relative; left:-120px;" height="121" />
            <img class="Cards" src="/Content/DeckImages/5_of_clubs.png" style="height:121px;position:relative; left:-182px;" height="121" />
            <img class="Cards" src="/Content/DeckImages/6_of_clubs.png" style="height:121px;position:relative; left:-244px;" height="121" />
            <img class="Cards" src="/Content/DeckImages/7_of_clubs.png" style="height:121px;position:relative; left:-306px;" height="121" />
            <img class="Cards" src="/Content/DeckImages/8_of_clubs.png" style="height:121px;position:relative; left:-368px;" height="121" />
            <img class="Cards" src="/Content/DeckImages/9_of_clubs.png" style="height:121px;position:relative; left:-430px;" height="121" />
            <img class="Cards" src="/Content/DeckImages/10_of_clubs.png" style="height:121px;position:relative; left:-492px;" height="121" />
            <img class="Cards" src="/Content/DeckImages/jack_of_clubs2.png" style="height:121px;position:relative; left:-554px;" height="121" />
            <img class="Cards" src="/Content/DeckImages/queen_of_clubs2.png" style="height:121px;position:relative; left:-616px;" height="121" />
            <img class="Cards" src="/Content/DeckImages/King_of_clubs2.png" style="height:121px;position:relative; left:-678px;" height="121" />
            <img class="Cards" src="/Content/DeckImages/ace_of_clubs.png" style="height:121px;position:relative; left:-740px;" height="121" />
        </div>
    </div>
</div>

